<template name="tarriffsEdit">
    <div class="row text-center">
        <div class="col-xs-12">
            <h1>Edit Tarriffs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default add-tarriff pull-right">Add Tarriff</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <table class="table-bordered" width="100%" style="margin: 0px auto;">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Name</th>
                         <th>Type</th>
                        <th>State</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Cost Per Night</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {{#each tarriffs}}
                    <tr>
                        <td>{{serial_number}}</td>
                        <td><a href="{{pathFor route='tarriffs.view' _id=this._id}}">{{name}}</a></td>
                        <td>{{type}}</td>
                        <td>{{state}}</td>
                        <td>{{period_start_date}}</td>
                        <td>{{period_end_date}}</td>
                        <td>{{cost_per_night}}</td>
                    </tr>
                    {{/each}}
                </tbody>                
            </table>
        </div>
        
    </div>
    
</template>