<template name="roomEdit">
{{#with room}}
	<div class="row text-center">
			<div class="col-xs-12">
				<h1>Edit {{name}}</h1>
			</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-default debug">Debug</button>
			<button class="btn btn-default pull-right save-room">Save</button>
			<button class="btn btn-default pull-right delete-room">Delete</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="serial_number">Serial Number : </label>
		</div>
		<div class="col-xs-8">
			<select>
				{{#each serialNumber}}
					<option myattr="serial_number" value="{{number}}" {{isSelected 'serial_number' 'number'}}>{{number}}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="name">Name : </label>
		</div>
		<div class="col-xs-8">
			<input myattr="name" id="name" value="{{name}}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="description">Description : </label>
		</div>
		<div class="col-xs-8">
			<input myattr="description" id="description" value="{{description}}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="bookable">Bookable : </label>
		</div>
		<div class="col-xs-8">
			<div class="btn-group" data-toggle="buttons-radio" id="bookable">
		      <input myattr="bookable" type="radio" class="is-bookable" name="bookable" value="1" {{isBookable}}>Yes
		      <input myattr="bookable" type="radio" class="is-bookable" name="bookable" value="0" {{isNotBookable}}>No
		    </div>			
		</div>
	</div>
	{{#if bookable}}
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="tarriff_id">Tarriff : </label>
		</div>
		<div class="col-xs-8">
			<select>
				{{#each roomTarrifs}}
					<option myattr="tarriff_id" value="{{_id}}" {{isSelected 'tarriff_id' '_id'}}>{{name}} - (Rs. {{cost_per_night}})</option>
				{{/each}}
			</select>
		</div>
	</div>

	{{/if}}
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="capacity">Capacity : </label>
		</div>
		<div class="col-xs-8">
			<select>
				{{#each roomCapacity}}
					<option myattr="capacity" value="{{number}}" {{isSelected 'capacity' 'number'}}>{{number}} persons</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="features">Features : </label>
		</div>
		<div class="col-xs-8">
			<input myattr="features" class="new-feature"  value="">
			<button class="add-feature">Add</button>
			<ul>
				{{#each features}}
					<li>{{description}} <a href=""><i class="fa fa-times remove-feature"></i></a>
					</li>  
				{{/each}}                              
            </ul>			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<label class="pull-right" for="image">Display Image : </label>
		</div>
		
		<div class="col-xs-7">
			{{#unless length image_id}}
				<input myattr="image_id" type="file" name="Choose File" class="choose-image">
			{{else}}
				<a href=""><i class="fa fa-times remove-image pull-right"></i></a>
			{{#with image}}
				<a href="{{url}}" target="_blank"><img src="{{url}}" alt="" class="thumbnail" /></a>
			{{/with}}
		{{/unless}}
		</div>
		
	</div>	
{{/with}}
</template>